@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

div{
	font-family: 'Patua One', cursive;
}

nav{
	background-color: #662987;
}

nav a{
 color: white;
}

nav a:hover{
	color:white;
}


.btn{
	background-color: white;
	margin-left: 5px;
}
